<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name:
    'posttitle' }) %>
    <div class="meta">
      <span
        class="author p-author h-card"
        itemprop="author"
        itemscope
        itemtype="http://schema.org/Person"
      >
        <span class="p-name" itemprop="name"
          ><% if (page.author) { %><%- page.author %><% } else { %><%-
          config.author %><% } %></span
        >
      </span>
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' })
      %> <%- partial('_partial/post/category') %> <%-
      partial('_partial/post/tag') %>
    </div>
  </header>

  <% let tocHTML = toc(page.content, {list_number: false, min_depth: 1, max_depth: 6}) %>
  <% if (tocHTML !== '') { %>
  <details class="post-toc" open>
    <summary>Table of Contents</summary>
    <div class="toc-content">
      <%- tocHTML %>
    </div>
  </details>
  <% } %>

  <%- partial('_partial/post/gallery') %>
  <div class="content e-content" itemprop="articleBody">
    <%- page.content %>
  </div>
  <% if (page.copyright) { %>
  <footer class="post-footer">
    <div class="post-copyright">
      <strong>Copyright</strong><br /><br />
      <%- page.copyright.replace(/\n/g, '<br />') %>
      <br />
    </div>
  </footer>
  <% } %>
</article>
<%- partial('_partial/comments') %>
